<!DOCTYPE html>
<html>
<head>
  <title>Lovingspark</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
  <div class="topbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">LovingSpark</a>
      <%= tabs %>
    </div>
  </div>
</div>
<%= yield %>